.page {
    display: flex;
    flex-direction: column;
    font-family: 'Lobster', cursive;
    margin: 0 auto;
}

.portfolio_cards {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;

}

article {
    display: flex ;
    justify-content: center;
    flex-direction: row!important;
    overflow: hidden;
    width: 25%;
    min-width: 330px;
    height: auto;
    margin: 20px auto;
}

article:hover {
    transition: .4s;
    /* background: #333436;
    border-radius: 25px;
    background: linear-gradient(#fcb04f,#f0522f); */
    scale: 1.01;
    background-color: linear-gradient(#fcb04f,#f0522f);
    z-index: 1;
}

@media screen and (max-width:415px) {

    article {
        display: flex;
        justify-content: center;
        width: 90%;
    }

    article a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
    }

}

.portfolio_title {
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-weight: 300;
    color: white;
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,0.7287289915966386) 0%, rgba(255,255,255,0) 100%);
}

.card {
    border-radius: 25px;
    overflow: hidden;
}

a {
    color: black;
    text-decoration: none;
}

.card img {
    border-radius: 25px;
}

.card_title {
    position: relative;
    margin-bottom: -45px;
    margin-left: 45px;
}

/* .card img:hover {
    width: auto;
    transition: .4s;
    background: #333436;
    border-radius: 25px;
    background: linear-gradient(#fcb04f,#f0522f);
} */